:root {

/* COLOUR PALETTE */ 

/* Solid Colors  */
--color-black: #000000;
--color-white: #FFFFFF;
--color-neutral-950: #0A0A0A;
--color-neutral-900: #171717;
--color-neutral-800: #262626;
--color-neutral-700: #404040;
--color-neutral-600: #525252;
--color-neutral-500: #737373;
--color-neutral-400: #A3A3A3;
--color-neutral-300: #D4D4D4;
--color-neutral-200: #E5E5E5;
--color-neutral-100: #F5F5F5;
--color-neutral-050: #FAFAFA;
--color-yellow-950: #241700;
--color-yellow-900: #452D00;
--color-yellow-800: #654300;
--color-yellow-700: #825800;
--color-yellow-600: #9E6C00;
--color-yellow-500: #BD8000;
--color-yellow-400: #E0A000;
--color-yellow-300: #F7C957;
--color-yellow-200: #FFE2A3;
--color-yellow-100: #FFF2D6;
--color-yellow-050: #FFFBF2;
--color-core-blue-950: #021629;
--color-core-blue-900: #092C4D;
--color-core-blue-800: #22415F;
--color-core-blue-700: #445F78;
--color-core-blue-600: #62788D;
--color-core-blue-500: #7C8FA0;
--color-core-blue-400: #96A5B3;
--color-core-blue-300: #B1BCC6;
--color-core-blue-200: #CED5DB;
--color-core-blue-100: #EBEEF1;
--color-core-blue-050: #F5F6F7;
--color-blue-950: #001729;
--color-blue-900: #003050;
--color-blue-800: #004974;
--color-blue-700: #005C90;
--color-blue-600: #007DB5;
--color-blue-500: #2898CA;
--color-blue-400: #53B8E5;
--color-blue-300: #7CCEF2;
--color-blue-200: #ABE7FF;
--color-blue-100: #D6F3FF;
--color-blue-050: #EDF9FE;
--color-teal-950: #001717;
--color-teal-900: #003636;
--color-teal-800: #005252;
--color-teal-700: #006B6B;
--color-teal-600: #058282;
--color-teal-500: #289F9D;
--color-teal-400: #51B8B5;
--color-teal-300: #79CECA;
--color-teal-200: #AAEBE6;
--color-teal-100: #D0F7F4;
--color-teal-050: #F2FCFB;
--color-purple-950: #020209;
--color-purple-900: #100E34;
--color-purple-800: #1B195A;
--color-purple-700: #282581;
--color-purple-600: #4A479E;
--color-purple-500: #5F5DB3;
--color-purple-400: #7D7CD1;
--color-purple-300: #9797E0;
--color-purple-200: #B6B5EE;
--color-purple-100: #CDCFF1;
--color-purple-050: #EFF0FB;
--color-orange-950: #160700;
--color-pink-950: #09000C;
--color-pink-900: #3C0040;
--color-pink-800: #66045E;
--color-pink-700: #800074;
--color-pink-600: #B03080;
--color-pink-500: #C64893;
--color-pink-400: #D863A5;
--color-pink-300: #E682B8;
--color-pink-200: #FCA9D0;
--color-pink-100: #FFCCE4;
--color-pink-050: #FEF2F7;
--color-orange-900: #471900;
--color-orange-800: #752A00;
--color-orange-700: #A03D01;
--color-orange-600: #C85007;
--color-orange-500: #DD6927;
--color-orange-400: #EE844E;
--color-orange-300: #F6AE87;
--color-orange-200: #FFC7AD;
--color-orange-100: #FFDAC6;
--color-orange-050: #FFF3ED;
--color-red-950: #0B0000;
--color-red-900: #3A0000;
--color-red-800: #660000;
--color-red-700: #810000;
--color-red-600: #B20D0D;
--color-red-500: #D42A2A;
--color-red-400: #DB4F4F;
--color-red-300: #EA7777;
--color-red-200: #FFA9A9;
--color-red-100: #FDD8D8;
--color-red-050: #FFEDED;
--color-zinc-950: #09090B;
--color-zinc-900: #18181B;
--color-zinc-800: #27272A;
--color-zinc-700: #3F3F46;
--color-zinc-600: #52525B;
--color-zinc-500: #71717A;
--color-zinc-400: #A1A1AA;
--color-zinc-300: #D4D4D8;
--color-zinc-200: #E4E4E7;
--color-zinc-100: #F4F4F5;
--color-zinc-050: #FAFAFA;
--color-green-950: #000F05;
--color-green-900: #003010;
--color-green-800: #004D0D;
--color-green-700: #006823;
--color-green-600: #028034;
--color-green-500: #28984B;
--color-green-400: #4FAF63;
--color-green-300: #77C47F;
--color-green-200: #9ED79F;
--color-green-100: #C6E8C6;
--color-green-050: #EDF8ED;

/* Alpha Colors */
--color-alpha-white-88: #FFFFFFE0;
--color-alpha-white-80: #FFFFFFCC;
--color-alpha-white-72: #FFFFFFB7;
--color-alpha-white-64: #FFFFFFA3;
--color-alpha-white-56: #FFFFFF8E;
--color-alpha-white-48: #FFFFFF7A;
--color-alpha-white-40: #FFFFFF66;
--color-alpha-white-32: #FFFFFF51;
--color-alpha-white-24: #FFFFFF3D;
--color-alpha-white-16: #FFFFFF28;
--color-alpha-white-8: #FFFFFF14;
--color-alpha-white-4: #FFFFFF0A;
--color-alpha-yellow-300-88: #F7C957E0;
--color-alpha-yellow-800-88: #654300E0;
--color-alpha-yellow-800-80: #654300CC;
--color-alpha-yellow-800-72: #654300B7;
--color-alpha-yellow-800-64: #654300A3;
--color-alpha-yellow-800-56: #6543008E;
--color-alpha-yellow-800-48: #6543007A;
--color-alpha-yellow-800-40: #65430066;
--color-alpha-yellow-800-32: #65430051;
--color-alpha-yellow-800-24: #6543003D;
--color-alpha-yellow-800-16: #65430028;
--color-alpha-yellow-800-12: #6543001E;
--color-alpha-yellow-800-8: #65430014;
--color-alpha-yellow-300-80: #F7C957CC;
--color-alpha-yellow-300-72: #F7C957B7;
--color-alpha-yellow-300-64: #F7C957A3;
--color-alpha-yellow-300-56: #F7C9578E;
--color-alpha-yellow-300-48: #F7C9577A;
--color-alpha-yellow-300-40: #F7C95766;
--color-alpha-yellow-300-32: #F7C95751;
--color-alpha-yellow-300-24: #F7C9573D;
--color-alpha-yellow-300-16: #F7C95728;
--color-alpha-yellow-300-12: #F7C9571E;
--color-alpha-yellow-300-8: #F7C95714;
--color-alpha-black-88: #000000E0;
--color-alpha-black-80: #000000CC;
--color-alpha-black-72: #000000B7;
--color-alpha-black-64: #000000A3;
--color-alpha-black-56: #0000008E;
--color-alpha-black-48: #0000007A;
--color-alpha-black-40: #00000066;
--color-alpha-black-32: #00000051;
--color-alpha-black-24: #0000003D;
--color-alpha-black-16: #00000028;
--color-alpha-black-12: #0000001E;
--color-alpha-black-8: #00000014;
--color-alpha-black-4: #0000000A;
--color-alpha-placeholder-update: #D863A57F;
--color-alpha-zinc-950-88: #18181BE0;
--color-alpha-zinc-950-80: #18181BCC;
--color-alpha-zinc-950-72: #18181BB7;
--color-alpha-zinc-950-64: #18181BA3;
--color-alpha-zinc-950-56: #18181B8E;
--color-alpha-zinc-950-48: #18181B7A;
--color-alpha-zinc-950-40: #18181B66;
--color-alpha-zinc-950-32: #18181B51;
--color-alpha-zinc-950-24: #18181B3D;
--color-alpha-zinc-950-16: #18181B28;
--color-alpha-zinc-950-12: #18181B1E;
--color-alpha-zinc-950-8: #18181B14;
--color-alpha-zinc-950-4: #18181B0A;
--color-alpha-core-blue-950-88: #021629E0;
--color-alpha-core-blue-950-80: #021629CC;
--color-alpha-core-blue-950-72: #021629B7;
--color-alpha-core-blue-950-64: #021629A3;
--color-alpha-core-blue-950-56: #0216298E;
--color-alpha-core-blue-950-48: #0216297A;
--color-alpha-core-blue-950-40: #02162966;
--color-alpha-core-blue-950-32: #02162951;
--color-alpha-core-blue-950-24: #0216293D;
--color-alpha-core-blue-950-16: #02162928;
--color-alpha-core-blue-950-12: #0216291E;
--color-alpha-core-blue-950-8: #02162914;
--color-alpha-core-blue-950-4: #0216290A;
--color-alpha-core-blue-900-88: #092C4DE0;
--color-alpha-core-blue-800-88: #22415FE0;
--color-alpha-core-blue-900-80: #092C4DCC;
--color-alpha-blue-800-88: #004974E0;
--color-alpha-blue-800-80: #004974CC;
--color-alpha-blue-800-72: #004974B7;
--color-alpha-blue-800-64: #004974A3;
--color-alpha-blue-800-56: #0049748E;
--color-alpha-blue-800-48: #0049747A;
--color-alpha-blue-800-40: #00497466;
--color-alpha-blue-800-32: #00497451;
--color-alpha-blue-800-24: #0049743D;
--color-alpha-blue-800-16: #00497428;
--color-alpha-blue-800-12: #0049741E;
--color-alpha-blue-800-8: #00497414;
--color-alpha-blue-700-88: #005A8FE0;
--color-alpha-blue-700-80: #005A8FCC;
--color-alpha-blue-600-88: #0078AEE0;
--color-alpha-blue-400-88: #53B8E5E0;
--color-alpha-blue-600-80: #0078AECC;
--color-alpha-blue-400-80: #53B8E5CC;
--color-alpha-blue-400-72: #53B8E5B7;
--color-alpha-blue-400-64: #53B8E5A3;
--color-alpha-blue-400-56: #53B8E58E;
--color-alpha-blue-400-48: #53B8E57A;
--color-alpha-blue-400-40: #53B8E566;
--color-alpha-blue-400-32: #53B8E551;
--color-alpha-blue-400-24: #53B8E53D;
--color-alpha-blue-400-16: #53B8E528;
--color-alpha-blue-400-12: #53B8E51E;
--color-alpha-blue-400-8: #53B8E514;
--color-alpha-blue-600-72: #0078AEB7;
--color-alpha-blue-600-64: #0078AEA3;
--color-alpha-blue-600-56: #0078AE8E;
--color-alpha-blue-600-48: #0078AE7A;
--color-alpha-blue-600-40: #0078AE66;
--color-alpha-blue-600-32: #0078AE51;
--color-alpha-blue-600-24: #0078AE3D;
--color-alpha-blue-600-16: #0078AE28;
--color-alpha-blue-600-12: #0078AE1E;
--color-alpha-blue-600-8: #0078AE14;
--color-alpha-blue-700-72: #005A8FB7;
--color-alpha-blue-700-64: #005A8FA3;
--color-alpha-blue-700-56: #005A8F8E;
--color-alpha-blue-700-48: #005A8F7A;
--color-alpha-blue-700-40: #005A8F66;
--color-alpha-blue-700-32: #005A8F51;
--color-alpha-blue-700-24: #005A8F3D;
--color-alpha-blue-700-16: #005A8F28;
--color-alpha-blue-700-12: #005A8F1E;
--color-alpha-blue-700-8: #005A8F14;
--color-alpha-core-blue-800-80: #22415FCC;
--color-alpha-core-blue-900-72: #092C4DB7;
--color-alpha-core-blue-900-64: #092C4DA3;
--color-alpha-core-blue-800-72: #22415FB7;
--color-alpha-core-blue-900-56: #092C4D8E;
--color-alpha-core-blue-800-64: #22415FA3;
--color-alpha-core-blue-800-56: #22415F8E;
--color-alpha-core-blue-800-48: #22415F7A;
--color-alpha-core-blue-800-40: #22415F66;
--color-alpha-core-blue-800-32: #22415F51;
--color-alpha-core-blue-800-24: #22415F3D;
--color-alpha-core-blue-800-16: #22415F28;
--color-alpha-core-blue-800-12: #22415F1E;
--color-alpha-core-blue-800-8: #22415F14;
--color-alpha-core-blue-800-4: #22415F0A;
--color-alpha-core-blue-900-48: #092C4D7A;
--color-alpha-core-blue-900-40: #092C4D66;
--color-alpha-core-blue-900-32: #092C4D51;
--color-alpha-core-blue-900-24: #092C4D3D;
--color-alpha-core-blue-900-16: #092C4D28;
--color-alpha-core-blue-900-12: #092C4D1E;
--color-alpha-core-blue-900-8: #092C4D14;
--color-alpha-core-blue-900-4: #092C4D0A;
--color-alpha-blue-200-88: #ABE7FFE0;
--color-alpha-blue-200-80: #ABE7FFCC;
--color-alpha-blue-200-72: #ABE7FFB7;
--color-alpha-blue-200-64: #ABE7FFA3;
--color-alpha-blue-200-56: #ABE7FF8E;
--color-alpha-blue-200-48: #ABE7FF7A;
--color-alpha-blue-200-40: #ABE7FF66;
--color-alpha-blue-200-32: #ABE7FF51;
--color-alpha-blue-200-24: #ABE7FF3D;
--color-alpha-blue-200-16: #ABE7FF28;
--color-alpha-blue-200-12: #ABE7FF1E;
--color-alpha-blue-200-8: #ABE7FF14;
--color-alpha-purple-700-88: #282581E0;
--color-alpha-purple-700-80: #282581CC;
--color-alpha-purple-700-72: #282581B7;
--color-alpha-purple-700-64: #282581A3;
--color-alpha-purple-700-56: #2825818E;
--color-alpha-purple-700-48: #2825817A;
--color-alpha-purple-700-40: #28258166;
--color-alpha-purple-700-32: #28258151;
--color-alpha-purple-700-24: #2825813D;
--color-alpha-purple-700-16: #28258128;
--color-alpha-purple-700-12: #2825811E;
--color-alpha-purple-700-8: #7E7DD114;
--color-alpha-purple-400-88: #7E7DD1E0;
--color-alpha-purple-200-88: #B6B5EEE0;
--color-alpha-purple-200-80: #B6B5EECC;
--color-alpha-purple-200-72: #B6B5EEB7;
--color-alpha-purple-200-64: #B6B5EEA3;
--color-alpha-purple-200-56: #B6B5EE8E;
--color-alpha-purple-200-48: #B6B5EE7A;
--color-alpha-purple-200-40: #B6B5EE66;
--color-alpha-purple-200-32: #B6B5EE51;
--color-alpha-purple-200-24: #B6B5EE3D;
--color-alpha-purple-200-16: #B6B5EE28;
--color-alpha-purple-200-12: #B6B5EE1E;
--color-alpha-purple-200-8: #B6B5EE14;
--color-alpha-purple-400-80: #7E7DD1CC;
--color-alpha-purple-400-72: #7E7DD1B7;
--color-alpha-purple-400-64: #7E7DD1A3;
--color-alpha-purple-400-56: #7E7DD18E;
--color-alpha-purple-400-48: #7E7DD17A;
--color-alpha-purple-400-40: #7E7DD166;
--color-alpha-purple-400-32: #7E7DD151;
--color-alpha-purple-400-24: #7E7DD13D;
--color-alpha-purple-400-16: #7E7DD128;
--color-alpha-purple-400-12: #7E7DD11E;
--color-alpha-purple-400-8: #7E7DD114;
--color-alpha-teal-700-88: #006B6BE0;
--color-alpha-teal-700-80: #006B6BCC;
--color-alpha-teal-700-72: #006B6BB7;
--color-alpha-teal-700-64: #006B6BA3;
--color-alpha-teal-700-56: #006B6B8E;
--color-alpha-teal-700-48: #006B6B7A;
--color-alpha-teal-700-40: #006B6B66;
--color-alpha-teal-700-32: #006B6B51;
--color-alpha-teal-700-24: #006B6B3D;
--color-alpha-teal-700-16: #006B6B28;
--color-alpha-teal-700-12: #006B6B1E;
--color-alpha-teal-700-8: #51B8B514;
--color-alpha-teal-400-88: #51B8B5E0;
--color-alpha-teal-400-80: #51B8B5CC;
--color-alpha-teal-400-72: #51B8B5B7;
--color-alpha-teal-400-64: #51B8B5A3;
--color-alpha-teal-400-56: #51B8B58E;
--color-alpha-teal-400-48: #51B8B57A;
--color-alpha-teal-400-40: #51B8B566;
--color-alpha-teal-400-32: #51B8B551;
--color-alpha-teal-400-24: #51B8B53D;
--color-alpha-teal-400-16: #51B8B528;
--color-alpha-teal-400-12: #51B8B51E;
--color-alpha-teal-400-8: #51B8B514;
--color-alpha-teal-200-88: #AAEBE6E0;
--color-alpha-teal-200-80: #AAEBE6CC;
--color-alpha-teal-200-72: #AAEBE6B7;
--color-alpha-teal-200-64: #AAEBE6A3;
--color-alpha-teal-200-56: #AAEBE68E;
--color-alpha-teal-200-48: #AAEBE67A;
--color-alpha-teal-200-40: #AAEBE666;
--color-alpha-teal-200-32: #AAEBE651;
--color-alpha-teal-200-24: #AAEBE63D;
--color-alpha-teal-200-16: #AAEBE628;
--color-alpha-teal-200-12: #AAEBE61E;
--color-alpha-teal-200-8: #AAEBE614;

/*  Functional Colors (these need a review/update) */

--functional-blue-900: #021026;
--functional-blue-800: #042961;
--functional-blue-700: #003C94;
--functional-blue-600: #0050C7;
--functional-blue-500: #0A69FA;
--functional-blue-400: #308AFF;
--functional-blue-300: #75B1FF;
--functional-blue-200: #C2DCFF;
--functional-blue-100: #E5F0FF;
--functional-blue-050: #F2F7FF;
--functional-yellow-900: #331C03;
--functional-yellow-800: #4D2B05;
--functional-yellow-700: #663C0C;
--functional-yellow-600: #824B0D;
--functional-yellow-500: #B26205;
--functional-yellow-400: #D67507;
--functional-yellow-300: #ED9B16;
--functional-yellow-200: #FFD84D;
--functional-yellow-100: #FFEFB3;
--functional-yellow-050: #FFF9E6;
--functional-green-900: #021F10;
--functional-green-800: #05381D;
--functional-green-700: #0D4F2B;
--functional-green-600: #006341;
--functional-green-500: #008557;
--functional-green-400: #23A15D;
--functional-green-300: #51C285;
--functional-green-200: #9BEBBF;
--functional-green-100: #D7F5E5;
--functional-green-050: #E8FAF0;

}