:root {

/* Foreground color-s */
--color--foreground-placeholder-update: var(--color--pink-400);
--color--foreground-primary: var(--color--black);
--color--foreground-primary_hover: var(--color--neutral-800);
--color--foreground-primary_active: var(--color--black);
--color--foreground-oncontrast-primary: var(--color--white);
--color--foreground-oncontrast-primary_hover: var(--color--alpha-white-80);
--color--foreground-oncontrast-primary_active: var(--color--white);
--color--foreground-secondary: var(--color--neutral-800);
--color--foreground-secondary_hover: var(--color--neutral-600);
--color--foreground-oncontrast-secondary: var(--color--alpha-white-88);
--color--foreground-tertiary: var(--color--neutral-700);
--color--foreground-tertiary_hover: var(--color--neutral-900);
--color--foreground-oncontrast-tertiary: var(--color--alpha-white-72);
--color--foreground-quaternary: var(--color--neutral-600);
--color--foreground-quaternary_hover: var(--color--neutral-800);
--color--foreground-white: var(--color--white);
--color--foreground-white_hover: var(--color--alpha-white-72);
--color--foreground-white_active: var(--color--alpha-white-64);
--color--foreground-brand-primary: var(--color--yellow-300);
--color--foreground-brand-primary_hover: var(--color--yellow-400);
--color--foreground-brand-primary_active: var(--color--yellow-200);
--color--foreground-brand-secondary: var(--color--yellow-400);
--color--foreground-brand-secondary_hover: var(--color--yellow-500);
--color--foreground-brand-secondary_active: var(--color--yellow-300);
--color--foreground-oncontrast-link: var(--color--yellow-300);
--color--foreground-oncontrast-link_hover: var(--color--yellow-500);
--color--foreground-oncontrast-link_active: var(--color--yellow-500);
--color--foreground-oncontrast-link_visited: var(--color--purple-400);
--color--foreground-disabled: var(--color--neutral-400);
--color--foreground-skeleton: var(--color--neutral-200);
--color--foreground-oncontrast-disabled: var(--color--neutral-600);
--color--foreground-field_default: var(--color--neutral-800);
--color--foreground-field_placeholder: var(--color--alpha-grey-950-64);
--color--foreground-field_disabled: var(--color--alpha-grey-950-48);
--color--foreground-error: var(--color--red-600);
--color--foreground-error-hover: var(--color--red-800);
--color--foreground-error-active: var(--color--red-900);
--color--foreground-warning: var(--functional-yellow-600);
--color--foreground-warning-hover: var(--functional-yellow-700);
--color--foreground-warning-active: var(--functional-yellow-800);
--color--foreground-success: var(--color--green-600);
--color--foreground-success-hover: var(--color--green-800);
--color--foreground-success-active: var(--color--green-900);
--color--foreground-info: var(--functional-blue-600);
--color--foreground-info-hover: var(--functional-blue-700);
--color--foreground-info-active: var(--functional-blue-800);
--color--foreground-rating: var(--color--blue-200);
--color--foreground-rating-hover: var(--color--blue-300);
--color--foreground-rating-active: var(--color--blue-500);
--color--foreground-loading: var(--color--blue-600);
--color--foreground-accentteal-primary: var(--color--teal-700);
--color--foreground-accentteal-primary_hover: var(--color--teal-800);
--color--foreground-accentpurple-primary: var(--color--purple-700);
--color--foreground-accentpurple-primary_hover: var(--color--purple-800);

/* Link color-s */
/* '--color--link' is used to colour text links and the underline decoration*/
--color--link: var(--color--yellow-600);
--color--link_hover: var(--color--yellow-800);
--color--link_active: var(--color--yellow-900);
--color--link_visited: var(--color--purple-600);
/* '--color--link-underline' is used to target the text-decoration of underlined links */
--color--link-underline: var(--color--alpha-black-72);
--color--link-underline_hover: var(--color--black);
--color--link-underline_active: var(--color--alpha-black-88);
--color--link-underline_visted: var(--color--purple-600);
--color--link-underline-onContrast: var(--color--alpha-white-88);
--color--link-underline-onContrast_hover: var(--color--white);
--color--link-underline-onContrast_active: var(--color--alpha-black-88);
--color--link-underline-onContrast_visted: var(--color--purple-600);
--color--link-underline-brand: var(--color--yellow-400);
--color--link-underline-brand_hover: var(--color--yellow-500);
--color--link-underline-brand_active: var(--color--yellow-600);
--color--link-underline-brand_visted: var(--color--purple-600);

/* Background color-s */
--color--background-placeholder-update: var(--color--pink-400);
--color--background-primary: var(--color--white);
--color--background-primary_hover: var(--color--neutral-100);
--color--background-primary_active: var(--color--neutral-100);
--color--background-secondary: var(--color--neutral-100);
--color--background-secondary_hover: var(--color--neutral-200);
--color--background-secondary_active: var(--color--neutral-200);
--color--background-tertiary: var(--color--neutral-200);
--color--background-bold: var(--color--neutral-600);
--color--background-contrast: var(--color--black);
--color--background-contrast_hover: var(--color--neutral-800);
--color--background-contrast_active: var(--color--neutral-900);
--color--background-transparent_hover: var(--color--alpha-black-8);
--color--background-transparent_active: var(--color--alpha-black-8);
--color--background-transparent-brand_hover: var(--color--alpha-yellow-300-56);
--color--background-transparent-brand_active: var(--color--alpha-yellow-300-32);
--color--background-oncontrast: var(--color--white);
--color--background-oncontrast_hover: var(--color--alpha-white-72);
--color--background-oncontrast_active: var(--color--alpha-white-48);
--color--background-oncontrast-subtle: var(--color--alpha-white-8);
--color--background-oncontrast-subtle_hover: var(--color--alpha-white-16);
--color--background-oncontrast-subtle_active: var(--color--alpha-white-24);
--color--background-solid-disabled: var(--color--neutral-300);
--color--background-tinted-disabled: var(--color--neutral-200);
--color--background-oncontrast-disabled: var(--color--alpha-white-32);
--color--background-control-disabled: var(--color--neutral-300);
--color--background-brand-primary: var(--color--yellow-300);
--color--background-brand-strong: var(--color--yellow-700);
--color--background-brand-strong_hover: var(--color--yellow-700);
--color--background-brand-strong_active: var(--color--yellow-900);
--color--background-brand-bold: var(--color--yellow-600);
--color--background-brand-bold_hover: var(--color--yellow-700);
--color--background-brand-muted: var(--color--yellow-200);
--color--background-brand-subtle: var(--color--yellow-100);
--color--background-brand-subtle_hover: var(--color--yellow-200);
--color--background-brand-subtle_active: var(--color--yellow-300);
--color--background-brand-minimal: var(--color--yellow-050);
--color--background-brand-minimal_hover: var(--color--yellow-100);
--color--background-brand-minimal_active: var(--color--yellow-200);
--color--background-oncontrast-brand-minimal: var(--color--yellow-800);
--color--background-oncontrast-brand-subtle_hover: var(--color--alpha-yellow-800-72);
--color--background-oncontrast-brand-subtle_active: var(--functional-yellow-700);
--color--background-success-bold: var(--color--green-600);
--color--background-success-bold_hover: var(--color--green-700);
--color--background-success-bold_active: var(--color--green-800);
--color--background-success-subtle: var(--color--green-100);
--color--background-success-minimal: var(--color--green-050);
--color--background-error-bold: var(--color--red-600);
--color--background-error-bold_hover: var(--color--red-700);
--color--background-error-bold_active: var(--color--red-800);
--color--background-error-subtle: var(--color--red-100);
--color--background-error-minimal: var(--color--red-050);
--color--background-warning-bold: var(--functional-yellow-500);
--color--background-warning-bold_hover: var(--functional-yellow-600);
--color--background-warning-bold_active: var(--functional-yellow-700);
--color--background-warning-subtle: var(--functional-yellow-100);
--color--background-warning-minimal: var(--functional-yellow-050);
--color--background-info-bold: var(--functional-blue-500);
--color--background-info-bold_hover: var(--functional-blue-600);
--color--background-info-bold_active: var(--functional-blue-700);
--color--background-info-subtle: var(--functional-blue-100);
--color--background-info-minimal: var(--functional-blue-050);
--color--background-notification: var(--color--red-600);
--color--background-data-table-row-hover: var(--color--alpha-black-8);
--color--background-data-table-row-striped: var(--color--alpha-black-4);
--color--background-data-table-row-header: var(--color--alpha-black-8);
--color--background-data-table-row-header-hover: var(--color--alpha-black-12);
--color--background-accentteal-strong: var(--color--teal-700);
--color--background-accentteal-bold: var(--color--teal-600);
--color--background-accentteal-bold_hover: var(--color--teal-700);
--color--background-accentteal-bold_active: var(--color--teal-800);
--color--background-accentteal-muted: var(--color--teal-200);
--color--background-accentteal-subtle: var(--color--teal-100);
--color--background-accentteal-subtle_hover: var(--color--teal-200);
--color--background-accentteal-subtle_active: var(--color--teal-300);
--color--background-accentteal-minimal: var(--color--teal-050);
--color--background-accentpurple-strong: var(--color--purple-700);
--color--background-accentpurple-bold: var(--color--purple-600);
--color--background-accentpurple-bold_hover: var(--color--purple-700);
--color--background-accentpurple-bold_active: var(--color--purple-800);
--color--background-accentpurple-muted: var(--color--purple-200);
--color--background-accentpurple-subtle: var(--color--purple-100);
--color--background-accentpurple-subtle_hover: var(--color--purple-200);
--color--background-accentpurple-subtle_active: var(--color--purple-300);
--color--background-accentpurple-minimal: var(--color--purple-050);
--color--background-accentgreen-strong: var(--color--green-700);
--color--background-accentgreen-bold: var(--color--green-600);
--color--background-accentgreen-bold_hover: var(--color--green-700);
--color--background-accentgreen-bold_active: var(--color--green-800);
--color--background-accentgreen-muted: var(--color--green-200);
--color--background-accentgreen-subtle: var(--color--green-100);
--color--background-accentgreen-subtle_hover: var(--color--green-200);
--color--background-accentgreen-subtle_active: var(--color--green-300);
--color--background-accentgreen-minimal: var(--color--green-050);
--color--background-accentpink-strong: var(--color--pink-700);
--color--background-accentpink-bold: var(--color--pink-600);
--color--background-accentpink-bold_hover: var(--color--pink-700);
--color--background-accentpink-bold_active: var(--color--pink-800);
--color--background-accentpink-muted: var(--color--pink-200);
--color--background-accentpink-subtle: var(--color--pink-100);
--color--background-accentpink-subtle_hover: var(--color--pink-200);
--color--background-accentpink-subtle_active: var(--color--pink-300);
--color--background-accentpink-minimal: var(--color--pink-050);
--color--background-accentorange-strong: var(--color--orange-700);
--color--background-accentorange-bold: var(--color--orange-600);
--color--background-accentorange-bold_hover: var(--color--orange-700);
--color--background-accentorange-bold_active: var(--color--orange-800);
--color--background-accentorange-muted: var(--color--orange-200);
--color--background-accentorange-subtle: var(--color--orange-100);
--color--background-accentorange-subtle_hover: var(--color--orange-200);
--color--background-accentorange-subtle_active: var(--color--orange-300);
--color--background-accentorange-minimal: var(--color--orange-050);

/* Border color-s */

--color--border-placeholder-update: var(--color--pink-400);
--color--border-subtle: var(--color--neutral-100);
--color--border-subtle_hover: var(--color--neutral-300);
--color--border-muted: var(--color--neutral-200);
--color--border-muted_hover: var(--color--neutral-400);
--color--border-contrast: var(--color--black);
--color--border-strong: var(--color--alpha-black-72);
--color--border-disabled: var(--color--neutral-300);
--color--border-disabled-subtle: var(--color--neutral-200);
--color--border-oncontrast-disabled: var(--color--neutral-600);
--color--border-brand-primary: var(--color--yellow-300);
--color--border-brand-strong: var(--color--yellow-700);
--color--border-brand-bold: var(--color--yellow-600);
--color--border-brand-muted: var(--color--yellow-200);
--color--border-brand-subtle: var(--color--yellow-100);
--color--border-brand-minimal: var(--color--yellow-050);
--color--border-oncontrast-brand: var(--color--yellow-300);
--color--border-oncontrast-brand_hover: var(--color--alpha-yellow-300-72);
--color--border-oncontrast-brand_active: var(--color--yellow-300);
--color--border-success-bold: var(--color--green-600);
--color--border-success-bold-hover: var(--color--green-700);
--color--border-success-bold-active: var(--color--green-800);
--color--border-success-muted: var(--color--green-300);
--color--border-error-bold: var(--color--red-600);
--color--border-error-bold-hover: var(--color--red-700);
--color--border-error-bold-active: var(--color--red-800);
--color--border-error-subtle: var(--color--red-300);
--color--border-warning-subtle: var(--functional-yellow-300);
--color--border-info-muted: var(--functional-blue-300);
--color--border-oncontrast-contrast: var(--color--white);
--color--border-oncontrast-contrast_hover: var(--color--alpha-white-80);
--color--border-oncontrast-contrast_active: var(--color--alpha-white-72);
--color--border-oncontrast-strong: var(--color--alpha-white-72);
--color--border-oncontrast-bold: var(--color--alpha-white-64);
--color--border-oncontrast-muted: var(--color--alpha-white-40);
--color--border-oncontrast-subtle: var(--color--alpha-white-24);
--color--border-field-rest: var(--color--neutral-400);
--color--border-field-hover: var(--color--neutral-600);
--color--border-field-selected: var(--color--black);
--color--border-field-disabled: var(--color--neutral-200);
--color--border-data-table: var(--color--border-muted);
--color--border-focus-default: var(--color--purple-400);
--color--border-focus-select: var(--color--black);
--color--border-accentteal-strong: var(--color--teal-700);
--color--border-accentteal-bold: var(--color--teal-600);
--color--border-accentteal-bold_hover: var(--color--teal-700);
--color--border-accentteal-bold_active: var(--color--teal-800);
--color--border-accentteal-muted: var(--color--teal-200);
--color--border-accentteal-subtle: var(--color--teal-100);
--color--border-accentteal-subtle_hover: var(--color--teal-200);
--color--border-accentteal-subtle_active: var(--color--teal-300);
--color--border-accentteal-minimal: var(--color--teal-050);
--color--border-accentpurple-strong: var(--color--purple-700);
--color--border-accentpurple-bold: var(--color--purple-600);
--color--border-accentpurple-bold_hover: var(--color--purple-700);
--color--border-accentpurple-bold_active: var(--color--purple-800);
--color--border-accentpurple-muted: var(--color--purple-200);
--color--border-accentpurple-subtle: var(--color--purple-100);
--color--border-accentpurple-subtle_hover: var(--color--purple-200);
--color--border-accentpurple-subtle_active: var(--color--purple-300);
--color--border-accentpurple-minimal: var(--color--purple-050);
--color--border-accentgreen-strong: var(--color--green-700);
--color--border-accentgreen-bold: var(--color--green-600);
--color--border-accentgreen-bold_hover: var(--color--green-700);
--color--border-accentgreen-bold_active: var(--color--green-800);
--color--border-accentgreen-muted: var(--color--green-200);
--color--border-accentgreen-subtle: var(--color--green-100);
--color--border-accentgreen-subtle_hover: var(--color--green-200);
--color--border-accentgreen-subtle_active: var(--color--green-300);
--color--border-accentgreen-minimal: var(--color--green-050);
--color--border-accentpink-strong: var(--color--pink-700);
--color--border-accentpink-bold: var(--color--pink-600);
--color--border-accentpink-bold_hover: var(--color--pink-700);
--color--border-accentpink-bold_active: var(--color--pink-800);
--color--border-accentpink-muted: var(--color--pink-200);
--color--border-accentpink-subtle: var(--color--pink-100);
--color--border-accentpink-subtle_hover: var(--color--pink-200);
--color--border-accentpink-subtle_active: var(--color--pink-300);
--color--border-accentpink-minimal: var(--color--pink-050);
--color--border-accentorange-strong: var(--color--orange-700);
--color--border-accentorange-bold: var(--color--orange-600);
--color--border-accentorange-bold_hover: var(--color--orange-700);
--color--border-accentorange-bold_active: var(--color--orange-800);
--color--border-accentorange-muted: var(--color--orange-200);
--color--border-accentorange-subtle: var(--color--orange-100);
--color--border-accentorange-subtle_hover: var(--color--orange-200);
--color--border-accentorange-subtle_active: var(--color--orange-300);
--color--border-accentorange-minimal: var(--color--orange-050);

}

